blinker==1.9.0
click==8.3.1
ExifRead==3.0.0
ffmpeg-python==0.2.0
Flask==2.3.0
future==1.0.0
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pillow==12.0.0
python-magic==0.4.27
redis==5.0.0
Werkzeug==3.1.5
