<!doctype html>
<html>
<head>
  <title>GipaGram</title>
  <style>
  body { 
    margin:0; 
    background:#000; 
    color:#fff; 
  }

  .grid { 
    display: grid; 
    grid-template-columns: 1fr; /* one column by default */
    gap: 10px; 
    justify-items: center; /* horizontal centering */
  }

  img, video { 
    width: 40%; 
    height: auto; 
    max-width: 750px;
    margin-top: 5px;
  }
</style>
</head>
<body>
  <div class="grid" id="grid"></div>
  <script src="/static/main.js"></script>
</body>
</html>
